{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="error">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="back">
		<a href="./index"> 
			<img src="/images/regret/back.png" width="100%" />
		</a>	
	</div>
	<div class="ball">
		<img src="/images/regret/ball.png" width="100%" />
	</div>	
		
	<div class="kv_noshadow">
		<img src="/images/index/kv.jpg" width="100%" />
	</div>	
</div>

<!--<script>
var w=$(document).width();
var h=$(document).height();
alert(w+"/"+h);
</script>	-->
{% endblock %}

