{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="index">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="form">
		<ul>
			<li>
				<img src="/images/index/name.png" width="100%" />
				<input type="text" name="name" id="name" value="" />
			</li>
			<li>
				<img src="/images/index/tel.png" width="100%" />
				<input type="text" name="tel" id="tel" value="" maxlength="11"/>
			</li>
		</ul>
		<img src="/images/index/submit_btn.png" width="100%" class="btn submit_btn" />	
	</div>	
	<div class="kv">
		<img src="/images/index/kv.jpg" width="100%" />
	</div>	
</div>	
{% endblock %}