{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="index">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="form">
		<ul>
			<li>
				<img src="/images/index/name.png" width="100%" />
				<input type="text" name="name" id="name" value="" />
			</li>
			<li>
				<img src="/images/index/tel.png" width="100%" />
				<input type="text" name="tel" id="tel" value="" maxlength="11"/>
			</li>
		</ul>
		<img src="/images/index/submit_btn.png" width="100%" class="btn submit_btn" />	
	</div>	
	<div class="kv">
		<img src="/images/index/kv.jpg" width="100%" />
	</div>	
</div>

<script type="text/javascript">
$(".submit_btn").on("click",function(){
		var name = $("#name").val();
		var tel = $("#tel").val();
		if(name==""){
			alert("请输入您的姓名");
			return false;
		}
		if(tel==""||!tel.match(/13[0-9]{9}|14[0-9]{9}|15[0-9]{9}|18[0-9]{9}/)){
			alert("请输入您的电话");
            $("#tel").val(""); 
			return false;
		}	

		$.ajax({  
		    type: "POST",  
		    url: "{{ url('loreal_menexpert_api_check') }}", 
		    data:{name:name,mobile:tel},
		    dataType:"json",  
		    async:false,  
		    cache:false,  
		    success: function(data){ 
		         
		    	window.location=data.url;

		    },  
		    error: function(json){  
		        alert("数据获取异常，请刷新后重试...");  
		    }  
		});  
	});
</script>	
{% endblock %}