{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅中国{% endblock %}
{% block body %}
<div class="interaction">
	<div class="inter_logo">
		<img src="/images/interation/logo.png" width="100%" />
	</div>
	<div class="inter_content">
		<div class="purple">
			<img src="/images/interation/taste.png" width="100%">
			<div class="circle_ani_purple">
				<img src="/images/interation/circle_purple.png" width="100%" class="circle">
				<img src="/images/interation/purple.png" width="100%" class="circle_on">
				<img src="/images/interation/taste_t.png" width="100%" class="circle_title">	
			</div>

		</div>
		<div class="red">
			<div class="circle_ani_red">
				<img src="/images/interation/circle_red.png" width="100%" class="circle">
				<img src="/images/interation/red.png" width="100%" class="circle_on">
				<img src="/images/interation/heater_t.png" width="100%" class="circle_title">	
			</div>
			<img src="/images/interation/heater.png" width="100%" class="heater">
		</div>

		<div class="orange">
			<img src="/images/interation/power.png" width="100%">
			<div class="circle_ani_orange">
				<img src="/images/interation/circle_orange.png" width="100%" class="circle">
				<img src="/images/interation/orange.png" width="100%" class="circle_on">
				<img src="/images/interation/power_t.png" width="100%" class="circle_title">	
			</div>	
		</div>

		<div class="green">
			<img src="/images/interation/gentle.png" width="100%">
			<div class="circle_ani_green">
				<img src="/images/interation/circle_green.png" width="100%" class="circle">
				<img src="/images/interation/green.png" width="100%" class="circle_on">
				<img src="/images/interation/power_t.png" width="100%" class="circle_title">	
			</div>	
		</div>		
	</div>	

</div>	
{% endblock %}