{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅男士洗发{% endblock %}
{% block body %}
<div class="success">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="map">
		<img src="/images/router/map.png" width="100%" />
		<div class="pr">
			<img src="/images/router/team.png" width="100%" class="pr_title"/>
			<a href="tel:13816210681">
				<img src="/images/router/tel1.png" width="100%" class="pr_tel"/>
			</a>
			<a href="tel:13917945650">	
				<img src="/images/router/tel2.png" width="100%" class="pr_tel"/>
			</a>
			<img src="/images/router/pr.png" width="100%" class="pr_title"/>
			<a href="tel:13436855250">	
				<img src="/images/router/tel3.png" width="100%" class="pr_tel"/>
			</a>
			<a href="tel:13439900703">		
				<img src="/images/router/tel4.png" width="100%" class="pr_tel"/>
			</a>	
		</div>
	</div>
	<a href="interaction">
		<img src="/images/main/activity_btn.png" width="100%" class="btn activity_btn" />
	</a>	
	<img src="/images/index/kv.jpg" width="100%" class="kv_shadow" />	


</div>	
{% endblock %}