{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="main">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="address">
		<img src="/images/main/address.png" width="100%" />
	</div>
	
	<p>
		<a href="success">
			<img src="/images/main/router_btn.png" width="100%" class="btn router_btn" />
		</a>
	</p>	
	<p>
		<a href="interaction">	
			<img src="/images/main/activity_btn.png" width="100%" class="btn activity_btn" />
		</a>
	</p>	

	<img src="/images/index/kv.jpg" width="100%" class="kv_shadow" />

	<div class="tips">
  		<img src="/images/interation/tipsBox.png" class="tips_box">
		
		<img src="/images/interation/close_btn.png" width="100%" class="close"/>
		
		<div class="tips_content main_tips">	
			<img src="/images/main/main_tips.png" class="save" />
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>	
		
	</div>	
</div>	

{% endblock %}