.DS_Store
.vagrant
/web/bundles/*
/web/css/*
/web/js/*
/web/files/*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/bin/
/composer.phar

