{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="game blue_game">
	<div class="game_header">
		<img src="/images/map/logo.png" width="100%" class="hudong_logo" />
		<img src="/images/game/blue_t.png" width="100%" class="game_title"/>
		<img src="/images/interation/blue_w.png" width="100%" class="game_circle" />
	</div>
	<div class="q_1">
		<div class="answer_finish">
			<ul>
				<li class="fin">	
					<img src="/images/game/blue_next_bg.png" width="100%" />
					<p>下一题</p>		
				</li>
				
				<li>
					<a href="{{ url('loreal_menexpert_interaction_choose') }}">
						<img src="/images/game/blue_next_bg.png" width="100%" />
						<p>结束答题</p>
					</a>
				</li>
			</ul>	
		</div>		
	</div>

	<div class="tips_game">
  		<img src="/images/game/tipsBox.png" class="tips_box">
  		<img src="/images/game/success.png" width="100%" class="tips_success" />
  		<img src="/images/game/fail.png" width="100%" class="tips_fail" />
		
		<div class="tips_content">
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>	
	</div>	
	
</div>	
<script type="text/javascript">

	var question = [{
                "id": "1",
                "question": "/images/game/blue_q_1.png",
                "ans1": "A.	薄荷酷爽",
                "ans2": "B.	火山矿物净彻",
                "ans3": "C.	氨基酸养护",
                "answer": "0"
            },
            {
                "id": "2",
                "question": "/images/game/blue_q_2.png",
                "ans1": "A.	5",
                "ans2": "B.	7",
                "ans3": "C.	10",
                "answer": "0"
            },
            {
                "id": "3",
                "question": "/images/game/blue_q_3.png",
                "ans1": "A.	武士刀刀柄",
                "ans2": "B.	圆润柱体",
                "ans3": "C.	创新球体",
                "answer": "0"
            },
            {
                "id": "4",
                "question": "/images/game/blue_q_4.png",
                "ans1": "A.	山地车",
                "ans2": "B.	冲浪",
                "ans3": "C.	射击",
                "answer": "0"
            }];
        



function questionlistFun(cnum, skin){

	var ListData = $.map(question,function(v,k){
		if(k == cnum){
			return '<img src="'+v.question+'" width="100%" /><div class="answer"><ul class="answer_con" data-answer='+v.answer+'><li><img src="/images/game/'+skin+'_ans_bg.png" width="100%" /><p>'+v.ans1+'</p></li><li><img src="/images/game/'+skin+'_ans_bg.png" width="100%" /><p>'+v.ans2+'</p></li><li><img src="/images/game/'+skin+'_ans_bg.png" width="100%" /><p>'+v.ans3+'</p></li></ul></div>';
		}
	}).join("");

	$(".answer_finish").before(ListData);

	$(".answer_con li").on("click",function(){
		/*$(this).addClass("hover");
		$(".answer_con li").removeClass("hover");
*/
		var pos=$(this).index();
		var corrent=$(this).parents(".answer_con").attr("data-answer");
		if(pos==corrent){
			$(".tips_game").fadeIn().fadeOut(3000);
			$(".tips_success").fadeIn().fadeOut(3000);
			$(".answer_con li").unbind("click");
		}
		else{
			$(".tips_game").fadeIn().fadeOut(3000);
			$(".tips_fail").fadeIn().fadeOut(3000);
			$(this).find("img").attr("src","/images/game/grey_ans_bg.png");

		}
		answerLog('blue',pos);
	})

}

var randomNum=parseInt(Math.round(Math.random()*3));
questionlistFun(randomNum, "blue");

function answerLog(type,answer){
	$.ajax({
		type:"post",
		url:"{{url('loreal_menexpert_api_answer')}}",
		data:{"type":type, "answer":answer},
		dataType:"json",
		success:function(status){

		}
	})
}  

</script>

{% endblock %}