{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅男士去屑洗发露全球首发{% endblock %}
{% block body %}
<div class="choose">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	
	<div class="btn_area">
   		<p>
   			<a href="{{ url('loreal_menexpert_interaction_map') }}">	
   				<img src="/images/sec_index/yanzu_btn.png"  width="100%" class="btn huhuan_btn">
   			</a>	
   		</p>
   		
   		<p>
   			<a href="{{ url('loreal_menexpert_interaction_photolist') }}">
   				<img src="/images/sec_index/photo_btn.png" width="100%" class="btn photo_btn">
   			</a>
   		</p>	
   		
	</div>	
	
	<div class="kv_shadow">
		<img src="/images/index/kv.jpg" width="100%" />
	</div>	
</div>
{% endblock %}