{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="loading">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	
</div>
	
{% endblock %}