{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="loading">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="zoom" id="index_ani">
		<img src="/images/sec_index/bg.png" class="round" />
		<img src="/images/sec_index/human.png" class="human" />
	</div>
	
</div>
<script type="text/javascript">
	$(".round").addClass("index_ani");

	if ($('.round').hasClass('index_ani')){
		setTimeout(function(){window.location.href="{{url('loreal_menexpert_interaction_choose')}}";},3000);
		
	}
</script>
	
{% endblock %}