{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="loading">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="zoom" id="index_ani">
		<img src="/images/sec_index/bg.png" class="round" />
		<img src="/images/sec_index/human.png" class="human" />
	</div>
	
</div>
	
{% endblock %}