{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅男士去屑洗发露全球首发{% endblock %}
{% block body %}
<div class="loading">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="zoom">
	</div>
	
</div>
<script type="text/javascript">

	var LoadingImg = ["/images/sec_index/bg.jpg",
	"/images/sec_index/bg.png",
	"/images/sec_index/human_ani_1.jpg",
	"/images/sec_index/human_ani_2.jpg",
	"/images/sec_index/human_ani_3.jpg",
	"/images/sec_index/human.png",
	"/images/sec_index/loading_title.png",
	"/images/sec_index/photo_btn.png",
	"/images/sec_index/yanzu_btn.png",
	"/images/bg.jpg",
	"/images/game/bg_blue.jpg",
	"/images/game/bg_green.jpg",
	"/images/game/bg_orange.jpg",
	"/images/game/bg_purple.jpg",
	"/images/game/bg_red.jpg",
	"/images/game/blue_ans_bg.png",
	"/images/game/blue_next_bg.png",
	"/images/game/blue_q_1.png",
	"/images/game/blue_q_2.png",
	"/images/game/blue_q_3.png",
	"/images/game/blue_q_4.png",
	"/images/game/blue_t.png",
	"/images/game/green_ans_bg.png",
	"/images/game/green_next_bg.png",
	"/images/game/green_q_1.png",
	"/images/game/green_q_2.png",
	"/images/game/green_q_3.png",
	"/images/game/green_q_4.png",
	"/images/game/green_t.png",
	"/images/game/orange_ans_bg.png",
	"/images/game/orange_next_bg.png",
	"/images/game/orange_q_1.png",
	"/images/game/orange_q_2.png",
	"/images/game/orange_q_3.png",
	"/images/game/orange_q_4.png",
	"/images/game/orange_t.png",
	"/images/game/purple_ans_bg.png",
	"/images/game/purple_next_bg.png",
	"/images/game/purple_q_1.png",
	"/images/game/purple_q_2.png",
	"/images/game/purple_q_3.png",
	"/images/game/purple_q_4.png",
	"/images/game/purple_t.png",
	"/images/game/red_ans_bg.png",
	"/images/game/red_next_bg.png",
	"/images/game/red_q_1.png",
	"/images/game/red_q_2.png",
	"/images/game/red_q_3.png",
	"/images/game/red_q_4.png",
	"/images/game/red_t.png",
	"/images/game/fail.png",
	"/images/game/grey_ans_bg.png",
	"/images/game/last_title.png",
	"/images/game/success.png",
	"/images/game/tipsBox.png",
	"/images/map/quick.png",
	"/images/heng.png",
	"/images/index/kv.jpg",
	"/images/interation/arrow.png",
	"/images/interation/bg.jpg",
	"/images/interation/blue_g.png",
	"/images/interation/blue_w.png",
	"/images/interation/blue.png",
	"/images/interation/circle_blue.png",
	"/images/interation/circle_green.png",
	"/images/interation/circle_grey.png",
	"/images/interation/circle_orange.png",
	"/images/interation/circle_purple.png",
	"/images/interation/circle_red.png",
	"/images/interation/close_btn.png",
	"/images/interation/gentle_t.png",
	"/images/interation/gentle.png",
	"/images/interation/green_g.png",
	"/images/interation/green_w.png",
	"/images/interation/green.png",
	"/images/interation/heater_t.png",
	"/images/interation/heater.png",
	"/images/interation/limit_t.png",
	"/images/interation/limit.png",
	"/images/interation/logo1.png",
	"/images/interation/logo2.png",
	"/images/interation/logo3.png",
	"/images/interation/logo4.png",
	"/images/interation/logo5.png",
	"/images/interation/logo6.png",
	"/images/interation/logo7.png",
	"/images/interation/logo8.png",
	"/images/interation/logo9.png",
	"/images/interation/logo10.png",
	"/images/interation/logo11.png",
	"/images/interation/logo12.png",
	"/images/interation/orange_g.png",
	"/images/interation/orange_w.png",
	"/images/interation/orange.png",
	"/images/interation/power_t.png",
	"/images/interation/purple_g.png",
	"/images/interation/purple_w.png",
	"/images/interation/purple.png",
	"/images/interation/red_g.png",
	"/images/interation/red_w.png",
	"/images/interation/red.png",
	"/images/interation/start.png",
	"/images/interation/taste_t.png",
	"/images/interation/taste.png",
	"/images/interation/taste.png",
	"/images/interation/tipsBox.png",
	"/images/interation/tipsLogo.png",
	"/images/kv.jpg",
	"/images/logo.png",
	"/images/main/tipsBox.png",
	"/images/map/logo.png",
	"/images/map/map_loading.png",
	"/images/map/rule_con.png",
	"/images/map/rule.png",
	"/images/map/yanzu_title.png"];
    loadingAll(LoadingImg, roundAni);

    function roundAni(){
		$(".zoom").addClass("index_ani");

		if ($('.zoom').hasClass('index_ani')){
			setTimeout(function(){
				window.location.href="{{url('loreal_menexpert_interaction_choose')}}";},6000);}	
	}
</script>
	
{% endblock %}