{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅中国{% endblock %}
{% block body %}
<div class="main">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	
	<div class="address">
		<img src="/images/main/address.png" width="100%" />
	</div>
	
	<img src="/images/main/router_btn.png" width="100%" class="btn router_btn" />
	<img src="/images/main/activity_btn.png" width="100%" class="btn activity_btn" />


</div>	
{% endblock %}