{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="map_area">
	<div class="inter_logo">
		<img src="/images/interation/logo.png" width="100%" />
	</div>
	<div class="inter_content">
		<div class="purple">
			<img src="/images/interation/taste.png" width="100%">
			<div class="circle_ani_purple">
				<img src="/images/interation/circle_purple.png" width="100%" class="circle">
				<img src="/images/interation/purple.png" width="100%" class="circle_on">
				<img src="/images/interation/taste_t.png" width="100%" class="circle_title">	
			</div>

		</div>
		<div class="red">
			<a href="red">
				<div class="circle_ani_red">
					<img src="/images/interation/circle_red.png" width="100%" class="circle">
					<img src="/images/interation/red.png" width="100%" class="circle_on">
					<img src="/images/interation/heater_t.png" width="100%" class="circle_title">	
				</div>
			</a>	
			<img src="/images/interation/heater.png" width="90%" class="heater">
		</div>

		<div class="orange">
			<img src="/images/interation/power.png" width="90%">
			<div class="circle_ani_orange">
				<img src="/images/interation/circle_orange.png" width="100%" class="circle">
				<img src="/images/interation/orange.png" width="100%" class="circle_on">
				<img src="/images/interation/power_t.png" width="100%" class="circle_title">	
			</div>	
		</div>

		<div class="green">
			<img src="/images/interation/gentle.png" width="100%">
			<a href="green">
				<div class="circle_ani_green">
					<img src="/images/interation/circle_green.png" width="100%" class="circle">
					<img src="/images/interation/green.png" width="100%" class="circle_on">
					<img src="/images/interation/gentle_t.png" width="100%" class="circle_title">	
				</div>
			</a>		
		</div>

		<div class="blue">
			<img src="/images/interation/limit.png" width="100%">
			<div class="circle_ani_blue">
				<img src="/images/interation/circle_blue.png" width="100%" class="circle">
				<img src="/images/interation/blue.png" width="100%" class="circle_on">
				<img src="/images/interation/limit_t.png" width="100%" class="circle_title">	
			</div>	
		</div>
		<div class="start">
			<img src="/images/interation/start.png" width="100%" class="start_t"/>
			<img src="/images/interation/arrow.png" width="100%" class="arrow" />
		</div>		
	</div>

	<div class="tips">
  		<img src="/images/interation/tipsBox.png" class="tips_box">
		
		<img src="/images/interation/close_btn.png" width="100%" class="close"/>
		<div class="tips_content map_tips">
			<img src="/images/map/yanzu_title.png" width="100%" class="map_header"/>
			<img src="/images/map/rule.png" width="100%" class="tips_title"/>
			<img src="/images/map/rule_con.png" width="100%" class="rule_con"/>
			<img src="/images/map/map_loading.png" width="100%" class="map_loading">
		</div>	
		
		
		
	</div>
	<!-- <div class="tips">
  		<img src="/images/interation/tipsBox.png" class="tips_box">
		
		<img src="/images/interation/close_btn.png" width="100%" class="close"/>
		

		<div class="tips_content green_tips">	
			<img src="/images/interation/green_w.png" class="tips_header">
			<img src="/images/interation/green_t.png" class="tips_title">
			<div class="tips_con">
				<img src="/images/interation/green_c.png" width="100%"/>
			</div>	
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>
		<div class="tips_content red_tips">	
			<img src="/images/interation/red_w.png" class="tips_header">
			<img src="/images/interation/red_t.png" class="tips_title">
			<div class="tips_con">
				<img src="/images/interation/red_c.png" width="100%"/>
			</div>	
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>
		<div class="tips_content purple_tips">	
			<img src="/images/interation/purple_w.png" class="tips_header">
			<img src="/images/interation/purple_t.png" class="tips_title">
			<div class="tips_con">
				<img src="/images/interation/purple_c.png" width="100%"/>
			</div>	
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>
		<div class="tips_content orange_tips">	
			<img src="/images/interation/orange_w.png" class="tips_header">
			<img src="/images/interation/orange_t.png" class="tips_title">
			<div class="tips_con">
				<img src="/images/interation/orange_c.png" width="100%"/>
			</div>	
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>
		<div class="tips_content blue_tips">	
			<img src="/images/interation/blue_w.png" class="tips_header">
			<img src="/images/interation/blue_t.png" class="tips_title">
			<div class="tips_con">
				<img src="/images/interation/blue_c.png" width="100%"/>
			</div>	
			<img src="/images/interation/tipsLogo.png" class="tips_logo">
		</div>	 
		
	</div>	-->

</div>	

{% endblock %}