{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="game orange_game">
	<div class="game_header">
		<img src="/images/map/logo.png" width="100%" class="hudong_logo" />
		<img src="/images/game/orange_t.png" width="100%" class="game_title"/>
		<img src="/images/interation/orange_w.png" width="100%" class="game_circle" />
	</div>
	<div class="q_1">
		<img src="/images/game/orange_q_1.png" width="100%" />
		<div class="answer">
			<ul>
				<li>
					<img src="/images/game/orange_ans_bg.png" width="100%" />
					<p>A: 迅速收回</p>
				</li>
				<li>
					<img src="/images/game/orange_ans_bg.png" width="100%" />
					<p>B: 立在胸前</p>
				</li>
				<li>
					<img src="/images/game/orange_ans_bg.png" width="100%" />
					<p>C: 保护面部</p>
				</li>
			</ul>	
		</div>
		<div class="answer_finish">
			<ul>
				<li>
					<img src="/images/game/orange_ans_bg.png" width="100%" />
					<p>下一题</p>
				</li>
				<li>
					<img src="/images/game/orange_ans_bg.png" width="100%" />
					<p>结束答题</p>
				</li>
			</ul>	
		</div>		
	</div>	
	
</div>	

{% endblock %}