{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="orange_game">
	<div class="logo_small">
		<img src="/images/map/logo.png" width="100%"/>
		<img src="/images/map/orange_t.png" width="100%"/>
		<img src="/images/interation/orange_w.png" width="100%" class="tips_header" />
	</div>	
	
</div>	

{% endblock %}