{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}
<div class="orange_game">
	<div class="game_header">
		<img src="/images/map/logo.png" width="100%" class="hudong_logo" />
		<img src="/images/map/orange_t.png" width="100%" class="game_title"/>
		<img src="/images/interation/orange_w.png" width="100%" class="game_circle" />
	</div>	
	
</div>	

{% endblock %}