{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}巴黎欧莱雅{% endblock %}
{% block body %}

<div class="photolist">
	<div class="photo_tips">
		<img src="/images/photolist/tips.png" width="100%" />
	</div>	
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<div class="photoCon">
		<div class="waterfall">
			<div class="grid">
				{% for photo in photos %}
				<div class="grid-item">
					<img src="/{{photo.url}}" width="100%" />
				</div>
				{% endfor %}		    
			</div>		
		</div>

		<div class="details">
			<img src="" width="100%" class="details_img"/>
			<img src="/images/interation/close_btn.png" width="100%" class="close_details"/>
		</div>
	</div>
	<div class="yanzu_btn">
		<a href="{{ url('loreal_menexpert_interaction_map') }}">	
			<img src="/images/sec_index/yanzu_btn.png" class="btn">
		</a>
	</div>	


</div>
<script type="text/javascript">
	var LoadingImg = new Array();
	{% for photo in photos %}
		LoadingImg.push("/{{photo.url}}");
	{% endfor %}
	//var LoadingImg = ["/images/photolist/photo1.jpg","/images/photolist/photo2.jpg",
	//			"/images/photolist/photo3.jpg","/images/photolist/photo4.jpg"];


	function endDoing(){
		$('.grid').masonry({
			itemSelector: '.grid-item'
			//columnWidth: 20
		});

		$(".grid-item").on("click",function(){
			var tImg = $(this).find("img").attr("src");
			$(".details").fadeIn();
			$(".details_img").attr("src",tImg);		
		});
		$(".close_details").on("click",function(){
			$(".details").hide();
			$(".details_img").attr("src","");	
		});
	}

	loading(LoadingImg, endDoing);
	
	




</script>	

{% endblock %}