{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅中国{% endblock %}
{% block body %}
<div class="success">
	<div class="logo">
		<img src="/images/logo.png" width="100%" />
	</div>
	<img src="/images/router/map.png" width="100%" />


</div>	
{% endblock %}